---
title: The GitLab Handbook
---

{{< blocks/cover title="Welcome to the GitLab Handbook" image_anchor="top" color="primary" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/handbook/">
		<i class="fa fa-book"></i> The Handbook <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-danger mr-3 mb-4" href="/job-families/">
		<i class="fa-solid fa-users"></i> Job Families <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-info mr-3 mb-4" href="{{< relref "/docs/" >}}">
		<i class="fa fa-pen"></i> Contributing Guidelines <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>

{{% /blocks/cover %}}

{{< blocks/lead color="primary">}}
<div class="col">
	<h2 class="text-center"><i class="fa-regular fa-triangle-exclamation"></i> We are currently migrating content from about.gitlab.com <i class="fa-regular fa-triangle-exclamation"></i></h2>
	<p class="text-cetner">During our migration period you'll find some links point to this site and others to our
	<a href="https://about.gitlab.com/handbook/">about.gitlab.com</a> site.</p>
</div>

{{< /blocks/lead >}}

{{% blocks/section color="dark" %}}

<style>
	.homepage-toc {
		width: 70%;
		padding: 5em;
		margin-left: auto !important;
		margin-right: auto !important;
		background: #ffffff;
		color: #000000;
		text-align: left;
		border-radius: 10px;
	}

	.homepage-toc p > a {
		color: #6e49cb;
	}

</style>

<div class="homepage-toc">

{{% handbook-toc %}}

</div>

{{% /blocks/section %}}
